body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

